* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 1px;
  background-image: linear-gradient(
    to bottom right,
    #0a285f,
    #0075be,
    #d5a100,
    #ffcc00
  );
}

#title {
  position: relative;
  font-size: 50px;
  text-align: center;
  top: -20%;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

#flexContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  justify-content: space-between;
  position: relative;
  left: 20%;
  padding-top: 1%;
}

.card {
  padding: 5%;
  background-color: grey;
  margin-bottom: 3%;
  padding-bottom: 2%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.sprites {
  background-color: white;
  height: 10.8em;
}

.name,
.id,
.type {
  display: flex;
  justify-content: center;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  font-size: 1.3em;
}
.type {
  height: 70px;
  width: 125px;
  padding-left: 40px;
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 90px;
}

.button {
  padding: 5px 6px;
  font-size: 1.5em;
}

#searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 0.4% 3% 0.4% 2.5%;
  text-align: center;
}


