:root {
  --bugType: #a8b820;
  --darkType: #705848;
  --normalType: #a8a878;
  --fireType: #f08030;
  --waterType: #6890f0;
  --electricType: #f8d030;
  --grassType: #78c850;
  --flyingType: #a890f0;
  --steelType: #b8b8d0;
  --groundType: #e0c068;
  --poisonType: #a040a0;
  --iceStyle: #98d8d8;
  --fightingStyle: #c03028;
  --psychicType: #f85888;
  --ghostType: #705898;
  --dragonType: #7038f8;
  --fairyType: #f0b6bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 1px;
  background-image: linear-gradient(
    to bottom right,
    #0a285f,
    #0075be,
    #d5a100,
    #ffcc00
  );
}

#title {
  position: relative;
  font-size: 50px;
  text-align: center;
  top: -20%;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

#flexContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  justify-content: space-between;
  position: relative;
  left: 20%;
  padding-top: 1%;
}

.card {
  padding: 5%;
  background-color: grey;
  margin-bottom: 3%;
  padding-bottom: 2%;
}

.sprites {
  background-color: white;
  height: 10.8em;
}

.name,
.id,
.type {
  display: flex;
  justify-content: center;
  padding-top: 15%;
  font-size: 1.3em;
}
